/*common*/

@mixin transform($bc) {
    transform: $bc;
    -webkit-transform: $bc;
}

@mixin _flex($direction) {
    display: flex;
    display: -webkit-flex;
    flex-direction: $direction;
}

@mixin _grow($num) {
    flex-grow: $num;
}

@mixin box_sizing() {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

* {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

$bl:#58B7FF;
$bd:#1D8CE0;
$bbb:#20A0FF;
$gg:#13CE66;
$yy:#F7BA2A;
$rr:#FF4949;
$bb:#1F2D3D;
$ba:#324057;
$bal:#475669;
$ss:#8492A6;
$sl:#99A9BF;
$sal:#C0CCDA;
$gray:#D3DCE6;
$grayl:#E5E9F2;
$grayal:#EFF2F7;
$whitel:#F9FAFC;