    @import "./common.scss";
    .contentMain {
        width: 100%;
        height: calc(100vh - 50px);
        background-color: $whitel;
        @include _flex(row);
        .leftmenu {
            width: 200px;
            height: 100%;
            background-color: $bl;
            .el-menu-vertical-demo .el-submenu {
                transition: ease-in .5s height;
            }
        }
        .rightcontent {
            @include _grow(21);
            height: 100%;
            background-color: $grayl;
        }
    }